* {
  padding: 0;
  margin: 0;
}

body {
  background-color: lightcoral;
}

.main_tag {
  padding: 30px;
  text-align: center;
}

.cards2 {
  display: flex;
  justify-content: space-around;
}
.card-body {
  background-color: yellow;
  border-radius: 20px;
}
.weight {
  background-color: rgb(90, 138, 243);
  justify-content: space-around;
  display: flex;
  height: 60px;
}

.card {
  margin-top: 20px;
  border-radius: 20px;
}

.height {
  background-color: rgb(242, 74, 74);
  justify-content: space-around;
  display: flex;
}

.speed {
  background-color: green;
}

.bi {
  cursor: pointer;
}

.button {
  margin-top: 80px;
}
